
img {vertical-align: middle;}

#FirstBlock{
	overflow: hidden;
}
#Header{
	padding: 20px;
	text-align: left;
	color: white;
}
#Navbar{
	overflow: hidden;
	color: white;
	text-align: center;
	font-size: 30px;
}

#Navbar a{
	float: left;
	display: black;
	color: white;
	text-align: center;
	text-decoration: none;
	background-color: grey;
	margin: 12px;
}

#Navbar a:hover{
	background-color: black;
}

#SlideFade{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.SlideShow{
  display: none;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.Caption {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

img {
  width: 100%;
  height: 50%;
  height: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(17, 17, 17);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


