.nav-item {
  margin: 0 1rem 0 1rem;
}
.nav-item :hover {
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  background-color: rgb(0, 0, 0);
  color: rgb(233, 238, 241) !important;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.nav-item a {
  padding: 1 2rem 1 2rem;
}
