/* background colour for entire pages*/
body{
    background-color: rgb(205, 205, 205);
}
/* styles for input field/form field that makes them curved at the edges*/

  input[type=text], input[type=email], input[type=text], select {
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  textarea {
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  button[type=submit] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
  }

  .form_area{
    width: 100%;
  margin: 0 auto;
  }

  p{
    white-space: nowrap;
  }

  #site_map{
    align-items: top;
  }