body {
  background-color: #aeaeae;
}

.col-sm-8 h2{
  text-align: right; 
  padding-left: 20px;
}

.col-sm-8 h1{
  text-align: left; 
  padding-left: 20px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.col-sm-8{
  text-align: right;
   padding-left: 20px;

}

.Read_More{
  
  position: absolute;
  text-align: center;
  
}

.Read_More a{
size: 50px;
background-color: black;
padding: 5px;
color: white;
text-decoration: none;
}

.Read_More a:hover{
  color: black;
  background-color: white;
}